/* Main page layout */
.hero__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; /*! for page layout spacing (could be less?)*/
}

/* Left side styles */
.hero__container_left-column {
    display: flex; /*! Is this necessary? */
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    padding-left: 20px; /*! Keep this only if it looks better (I think it does) */
}

/* Right side styles */
.hero__container_right-column {}

/* Hero name */
.hero__name {
    margin: 0 0 20px 0; /*! For now */
}

/* Hero stat information */
.hero__section-title { /*! Generic name for all section titles */
    margin: 0;
}

.stats__title {}

.biography__title {}

.appearance__title {}

