/* Main page layout */

.hero__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; /*! for page layout spacing (could be less?)*/
    
}

/* Left side styles */
.hero__container_left-column {
    display: flex; /*! Is this necessary? */
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    padding-left: 20px; /*! Keep this only if it looks better (I think it does) */
    max-width: 600px;
}

/* Hero name */
.hero__name {
    margin: 0 0 20px 0; /*! For now */
    font-family: "Chau", sans-serif;
}

/* Hero stat information */
.hero__section-title { /*! Generic name for all section titles */
    margin: 0;
    font-family: "Chau", sans-serif;
    width: 50%;
    padding: 10px;
    background: linear-gradient(to right, black, #242424);
    
}

.stats__list-item {
    overflow-wrap: break-word;
}

.biography__list-item {
    overflow-wrap: break-word;
}

.appearance__list-item {
    overflow-wrap: break-word;
}

/* Right side styles */
.hero__image {
    border: 5px solid rgba(191, 187, 187, 1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.95);
}

