.header {
    margin-bottom: 30px; /*! for page layout spacing*/
    width: 100%;
    background-color: blue; /*! TEMP */
    /* this will control spacing between logo and nav section */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*! Fix height, looks weird */
    /* padding: 5px 15px; */
}

.header__image {
    margin: 0;
    padding: 0 30px;
}

/* Use this for flex styling */
.header__list { 
    /* This controls spacing of content inside nav section */
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0 30px;
}

.header__link {
    color: white;
}